@media (max-width: 426px) {
  .relogio {
    gap: 10px;
    flex-direction: column;
    padding: 190px 0px 190px 0px;
    box-sizing: border-box;
    margin: 90px;
  }

  .relogio div {
    padding-bottom: 15px;
  }
}
