* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: linear-gradient(120deg, #d0cfccd8, #201e1eda);
  display: flex;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  align-items: center;
}

.relogio {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  width: 550px;
  background: transparent;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.relogio div {
  height: 170px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: rgba(5, 5, 5, 0.9);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  letter-spacing: 3px;
}

.relogio span {
  font-weight: bolder;
  font-size: 60px;
}

.relogio span.tempo {
  font-size: 10px;
  font-weight: 400;
}
