* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: linear-gradient(120deg, #d0cfccd8, #201e1eda);
  display: flex;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  align-items: center;
}

.relogio {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  width: 550px;
  background: transparent;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.relogio div {
  height: 170px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: rgba(18, 15, 15, 0.9);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  letter-spacing: 3px;
  cursor: pointer;
  transition: 0.3s;
}
.relogio div:hover {
  color: rgb(0, 225, 255);
  transform: scale(1.01);
}

.relogio span {
  font-weight: bolder;
  font-size: 55px;
}

.relogio span.tempo {
  font-size: 10px;
  font-weight: 400;
}

.relogio .hover {
  transition: 0.4s;
}
